
.Board{
  display: flex;
  flex-direction: column;
}
.square{
  background:none;
  cursor: pointer;
  border: 2px solid rgb(56, 56, 56);
  float: left;
  height: 50px;
  width: 50px;
  font-size: 30px ;
  font-weight: bold;
}